@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 2.8rem;
    color: #161853;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;  
    max-width: 65rem;
    width: 100%;
    margin: 1rem auto;
}

.card {
    width: 100%;
    max-width: 20rem;
    background: white;
    text-align: center;
    color: white;
    padding: 1.8rem 4.3rem;
    position: relative;
    overflow: hidden;
    border-radius: .7rem;
    box-shadow:  7px 7px 30px #e6e6e6, -7px -7px 30px #ffffff;
    margin: 0 .3rem;
    margin-bottom: 2rem;
}

.card:hover > .img-block::before {
    height: 100%;
}

.card:hover > .img-block img {
    transform: scale(.95);
}

.img-block {
    height: 10rem;
    width: 10rem;
    position: relative;
    display: inline-block;
    z-index: 1;
}

.img-block::before {
    content: '';
    width: 100%;
    height: 0;
    border-radius: 50%;
    background: #512D6D;
    position: absolute;
    bottom: 15rem;
    left: 0;
    right: 0;
    opacity: .7;
    transform: scale(4);
    transition: .3s;
    z-index: -1;
}

.img-block::after {
    content: '';
    width: 100%;
    height: 100%;
    background: white;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.img-block img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    transform: scale(1);
    transition: .3s;
}

.name {
    margin: 1rem 0;
    margin-bottom: .5rem;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 1.3rem;
    color: purple;
}

.job {
    font-family: 'Fuzzy Bubbles', cursive;
    color: #4f5468;
    font-weight: bold;
}


.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.social li {
    list-style-type: none;
    display: flex;
}

.social li a {
    margin: 0 .4rem;
    font-size: .875rem;
    text-decoration: none;
    background: #512D6D;
    height: 2.188rem;
    width: 2.188rem;
    border-radius: 50%;
    line-height: 2.063rem;
    color: white;
    border: .125rem solid transparent;
    transition: .3s;
}

.social li a:hover {
    color: #512D6D;
    background: white;
    border-color: #512D6D;
}